name: Songs backup Job
on:
    schedule:
        - cron: '0 0 * * *'
    workflow_dispatch:

jobs:
    Backup:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version: '1.24'

        - name: Run Playlist Tracker
          env:
            YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
            GIST_ID: ${{ secrets.GIST_ID }}
            GIST_TOKEN: ${{ secrets.PAT }}
          run: go run .
